<div class="p-3">
    <h2 appTitle class="col-12 flex justify-content-center">Ingrese sus datos</h2>
    <app-user-form
        (userSubmite)="onUserSubmit($event)"></app-user-form><!--enlazamos la funcion userSubmite del hijo con onUserSubmit que es la funcion que recive el evento en el padre $event hace referencia al valor del formulario-->

    </div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>

    <!-- nombre Column -->
    <ng-container matColumnDef="nombrecompleto">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let user"> {{user | fullName}} </td>
    </ng-container>

    <!-- curso Column -->
    <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let user"> {{user.curso}} </td>
    </ng-container>

    <!-- curso Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef> </th>

        <td mat-cell *matCellDef="let user">

            <button (click)="delete(user)" mat-icon-button color="accent"
                aria-label="Example icon button with a menu icon">
                <mat-icon>delete</mat-icon>
            </button>


        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>