<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list>
            <a #iniciolink="routerLinkActive" routerLinkActive [activated]="iniciolink.isActive" routerLink="home"
                mat-list-item>
                Inicio</a>
            <a #userlink="routerLinkActive" routerLinkActive [activated]="userlink.isActive" routerLink="user"
                mat-list-item>
                Usuarios</a>
            <a #cursoslink="routerLinkActive" routerLinkActive [activated]="cursoslink.isActive" routerLink="cursos"
                mat-list-item>
                Cursos</a>

                <a (click)="logout()" mat-list-item>Cerrar secion</a>
        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <!--toolbar-->
        <!--toolbar-->
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Angular</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

        <!--toolbar-->
        <!--toolbar-->
        <div class="p-3">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-drawer-container>